<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FloBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <FloBot.Properties.Settings>
            <setting name="maxLevelDif" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="tbRestHP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbEmrHp" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="tbRestMp" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="tbEmrMP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cbAutoTarget" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbAutoAttack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbAutoLoot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbAttackSkill1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbBuffSkill1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tbDelaySkill1" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="tbCastSkill1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cbUseSkill2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbAtt2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbBuff2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tbDelay2" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="tbCast2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cbUseSkill3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbBuff3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbAtt3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tbDelay3" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="tbCast3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cbUseSkill9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbAtt9" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbBuff9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tbDelay9" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="tbCast9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cbUseSkill1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tbMax1" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="tbMin1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblMax1" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="lblMin1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblMax2" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="lblMin2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbMin3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbMax3" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="lblMax3" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="lblMin3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblMin9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lblMax9" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="tbMax9" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="tbMin9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbProcessID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbProcessName" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="tbRevivePercent" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="tbMax1P" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="tbMin1P" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nudPrio1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nudPrio2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nudPrio3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbMax3P" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="tbMin3P" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbMin2P" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbMax2P" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="tbMin2M" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbMax3M" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="cbUse4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbBuff4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbAtt4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tbReuse4" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="tbCast4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nudPrio4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbMax4M" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="tbMin4M" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbMax4P" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="tbMin4P" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cbUse5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbBuff5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbAtt5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tbReuse5" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="tbCast5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nudPrio5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbMax5M" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="tbMin5M" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbMin5P" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbMax5P" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="cbUse6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbBuff6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbAtt6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tbDelay6" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="tbCast6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nudPrio6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbMax6M" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="tbMin6M" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbMax6P" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="tbMin6P" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cbUse7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbBuff7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbAtt7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tbReuse7" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="tbCast7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nudPrio7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbMax7P" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="tbMin7P" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbMax7M" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="tbMin7M" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cbUse8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbBuff8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbAtt8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tbReuse8" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="tbCast8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nudPrio8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbMax8M" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="tbMin8M" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbMax8P" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="tbMin8P" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cbUse9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tbReuse9" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="nudPrio9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbMax9M" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="tbMin9M" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbMax9P" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="tbMin9P" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cbUse0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbBuff0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbAtt0" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tbReuse0" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="tbCast0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nudPrio0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbMax0M" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="tbMin0M" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbMax0P" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="tbMin0P" serializeAs="String">
                <value>0</value>
            </setting>
        </FloBot.Properties.Settings>
    </userSettings>
</configuration>
