<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FloBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FloBot.Properties.Settings>
            <setting name="maxLevelDif" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="tbRestHP" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="tbEmrHp" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="tbRestMp" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="tbEmrMP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cbAutoTarget" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbAutoAttack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbAutoLoot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbAttackSkill1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbBuffSkill1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tbDelaySkill1" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="tbCastSkill1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cbUseSkill2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbAtt2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbBuff2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tbDelay2" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="tbCast2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cbUseSkill3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbBuff3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbAtt3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tbDelay3" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="tbCast3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cbUseSkill9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbAtt9" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbBuff9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tbDelay9" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="tbCast9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cbUseSkill1" serializeAs="String">
                <value>False</value>
            </setting>
        </FloBot.Properties.Settings>
    </userSettings>
</configuration>